@import url("https://cdn.22is5.com/css/reset.css");
@import url("https://cdn.22is5.com/fonts/source-serif.css");

.bg {
  position: fixed;
  background-image: url("/img/covers/CouldntBeMe.jpg");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(0.24) saturate(0.1);
  z-index: -1;
}

body {
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 0 #000, 0 0 1px #000;
  text-transform: lowercase;
  user-select: none;
  font-family: "Source Serif";
  overflow: hidden;
}

.contentWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 640px;
  max-width: 100%;
  padding: 12px;
  /* background-color: #ff00ff24; */
}

.logo {
  /* color: #ff7f27; */
  font-size: 72px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
}

.logo img {
  /* opacity: 0.24; */
  height: 64px;
  user-select: none;
  transition: transform 2s;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
}

.logo img:hover {
  transform: rotate(360deg);
}

.new a {
  text-decoration: underline;
  text-transform: none;
}