@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #000;
  color: #dedede;
  display: flex;
  justify-content: center;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
}
.name {
  color: #f2983e;
  font-size: 106px;
  cursor: default;
  line-height: 0.8;
  letter-spacing: -6px;
  margin: 0 0 10px 0;
}
.hidden {
  color: #00000000;
  transition: 1s;
  opacity: 0;
  text-shadow: 0 0 5px #ffffff10;
}
.hidden:hover {
  color: #ffffff00;
  opacity: 1;
}
.links a {
  font-size: 42px;
  line-height: 0.8;
  color: inherit;
  text-decoration: none;
  transition: padding 0.05s;
}
.links a:hover {
  padding-left: 5px;
}
.a {
  opacity: 0.9;
}
.b {
  opacity: 0.75;
}
.c {
  opacity: 0.6;
}
.discography {
  width: 512px;
  margin-top: 5px;
}
.covers {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.covers img {
  width: 124px;
  padding: 2px;
  aspect-ratio: 1/1;
  transition: filter 0.3s, transform 1s, border 0.3s;
  margin: 2px;
  border: none;
}
.covers img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 12px #000);
  z-index: 5;
}
.parent {
  width: 534px;
  background-color: #10101000;
  padding: 12px;
  backdrop-filter: blur(0px) grayscale(100%) brightness(25%);
}
.parentbg {
  background-color: #444;
  background-image: url("img/masalt_transparent.png");
  background-position: 150px -240px;
  background-repeat: no-repeat;
}
.logo {
  position: absolute;
  top: -28%;
  left: 0%;
  width: 50%;
  filter: brightness(100);
  opacity: 0.05;
  pointer-events: none;
  z-index: -1;
  display: none;
}
.bg {
  background-image: url("img/PlateauBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
}
.gradient {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
